* {
  width: 100%;
  border-radius: 12px;
}

.video-info {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.channel-logo {
  width: 45px !important;
  height: 45px;
  border-radius: 50%;
}

.video-info h4 {
  margin-bottom: 6px;
  font-size: 1rem;
}

.video-info p {
  color: #aaaaaa;
  font-size: 0.9rem;
}

.video-info span {
  color: #777;
  font-size: 0.85rem;
}

/* Responsive */
@media (max-width: 900px) {

  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }

  .search-box {
    width: 60%;
  }
}

@media (max-width: 600px) {

  .header {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 15px;
  }

  .search-box {
    width: 100%;
  }

  .main-content {
    margin-top: 140px;
  }

  .video-grid {
    grid-template-columns: 1fr;
  }
}